.dungeon-settings {
    background: #121212e0;
    color: #fff;
    text-align: center;
    height: 100%;
    .dungeon-routes {
        margin: 0 auto;
        padding-top: 35px;
        width: 80%;
        select {
            width: 100%;
            padding: 12px;
            background: #ecf0f1;
            border-radius: 5px;
            border: none;
            color: #2c3e50;
            text-transform: uppercase;
            font-weight: 900;
        }
        .route-actions {
            margin-top: 10px;
            display: flex;
            button {
                cursor: pointer;
                color: #fff;
                text-transform: uppercase;
                font-weight: 900;
                padding: 10px;
                flex: auto;
                border: none;
                margin: 1px;
            }
            #new { background: #3498db; }
            #rename { background: #16a085; }
            #delete { background: #e74c3c; }
            #reset { background: #f39c12; }
        }
        progress {
            margin: 10px 0;
            width: 100%;
            height: 35px;
        }
        .new-pull {
            text-transform: uppercase;
            margin-top: 10px;
            cursor: pointer;
            width: 100%;
            padding: 15px;
            background-color: #3f8bac42;
            color: #fff;
            border-radius: 5px;
            border: 1px solid #2379ce;
            font-weight: 900;
        }
        .new-pull:hover {
            background: #34495e;
        }
    }
}