<div class="dungeon-settings">
    <div class="dungeon-routes">
        <select name="dungeon-routes">
            <option value="default">Default route</option>
            <option value="route-1">Route 1</option>
            <option value="route-2">Route 2</option>
        </select>   

        <div class="route-actions">
            <button id="new">New</button>
            <button id="rename">Rename</button>
            <button id="delete">Delete</button>
            <button id="reset">Reset</button>
        </div>
        
        <progress value="50" max="100"></progress>

        <app-dungeon-pack></app-dungeon-pack>

        <button class="new-pull" (click)="addPull()">+ Add pull</button>
    </div>
    
</div>